@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 100% 98%; /* #F8FAFC - slate-50 */
    --foreground: 222 47% 11%; /* #0F172A - slate-900 */

    --primary: 221 83% 53%; /* #2563EB - blue-600 */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */

    --secondary: 27 66% 97%; /* #FDF4F0 - orange-50ish */
    --secondary-foreground: 27 90% 52%; /* #F29119 - orange-500 */

    --muted: 210 40% 96%; /* #F1F5F9 - slate-100 */
    --muted-foreground: 215 16% 47%; /* #64748B - slate-500 */

    --accent: 175 84% 93%; /* #CCFBF1 - teal-100 */
    --accent-foreground: 176 77% 26%; /* #0F766E - teal-700 */

    --destructive: 0 84% 60%; /* #EF4444 - red-500 */
    --destructive-foreground: 0 0% 100%; /* #FFFFFF */

    --border: 214 32% 91%; /* #E2E6F0 - slate-200 */
    --input: 214 32% 91%; /* #E2E6F0 - slate-200 */
    --ring: 175 84% 32%; /* #0D9488 - teal-600 */

    --radius: 1rem;
    
    --chart-1: 38 92% 50%; /* #F59E0B */
    --chart-2: 262 83% 58%; /* #A78BFA */
    --chart-3: 343 95% 71%; /* #FB7185 */
    --chart-4: 84 81% 44%; /* #84CC16 */
    --chart-5: 217 91% 60%; /* #3B82F6 */
  }
}
