
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --font-font-sans: var(--font-sans);
  --font-font-heading: var(--font-heading);
  --font-font-serif: var(--font-serif);
  --font-font-mono: var(--font-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
  
:root {
    --background: #F8FAFC;
  --foreground: #0F172A;
  --primary: #2563eb;
  --primary-foreground: #FFFFFF;
  --secondary: #fdf4f0;
  --secondary-foreground: #f29119;
  --muted: #F1F5F9;
  --muted-foreground: #64748B;
  --accent: #CCFBF1;
  --accent-foreground: #0F766E;
  --destructive: #EF4444;
  --card: #FFFFFF;
  --card-foreground: #0F172A;
  --popover: #FFFFFF;
  --popover-foreground: #0F172A;
  --border: #e2e6f0;
  --input: #FFFFFF;
  --ring: #0D9488;
  --chart-1: #F59E0B;
  --chart-2: #A78BFA;
  --chart-3: #FB7185;
  --chart-4: #84CC16;
  --chart-5: #3B82F6;

  --font-sans: "Plus Jakarta Sans";
  --font-heading: "Plus Jakarta Sans";
  --font-serif: "Playfair Display";
  --font-mono: "JetBrains Mono";

  --radius: 1rem;
}
